body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
}

.form-container{
    /* background-color: white; */
    height: 100vh;
    width: 100vw;
    /* border-radius: 8px; */
    padding: 30px;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-wrapper{
    width: 70%;
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
}

.form-wrapper h1 ,
.form-wrapper h2{
    margin-bottom: 8px;
    text-align: center;
    font-weight: normal;
    color: #333;
}

.form-container h1{
    /* margin-bottom: 24px; */
}

.ant-form-item{
    margin: 16px;
}

.ant-btn-primary{
    width: 100%;
    background-color: #1890ff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.fullwidth{
    grid-column: span 2;
}

@media (max-width: 768px) {
    .form-wrapper{
        width: 90%;
        padding: 20px;
    }

    .form-grid{
        display: flex;
        flex-direction: column;
    }
}